#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#texto-interactivo {
  font-size: 1.5rem;
  color: #333;
  transition: all 0.3s ease;
}